
<div class="w-full h-auto bg-red-600 flex flex-wrap ">
    
    <div class="max-w-52 w-full h-auto bg-white flex flex-col items-center pl-3 pr-3 pt-3 border-black border-2 ">
        <div class="w-full h-52 bg-yellow-300">
            <img class="w-full h-full" src="../../../../assets/images.png" alt="">
        </div>
        <div>
            <p class="pt-2 text-xs text-black font-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut nostrum unde corrupti in labore </p>
        <p class="text-xs text-green-400 pt-2 font-bold">IN STOCK</p>
        <h1 class="text-1xl text-red-600 pt-3 pb-5 font-bold">6720 CFA – 9463 CFA</h1>
        </div>
        
    </div>
    <div class="max-w-52 w-full h-auto bg-white flex flex-col items-center pl-3 pr-3 pt-3 border-black border-2 ">
        <div class="w-full h-52 bg-yellow-300">
            <img class="w-full h-full" src="../../../../assets/images.png" alt="">
        </div>
        <div>
            <p class="pt-2 text-xs text-black font-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut nostrum unde corrupti in labore </p>
        <p class="text-xs text-green-400 pt-2 font-bold">IN STOCK</p>
        <h1 class="text-1xl text-red-600 pt-3 pb-5 font-bold">6720 CFA – 9463 CFA</h1>
        </div>
        
    </div>
    <div class="max-w-52 w-full h-auto bg-white flex flex-col items-center pl-3 pr-3 pt-3 border-black border-2 ">
        <div class="w-full h-52 bg-yellow-300">
            <img class="w-full h-full" src="../../../../assets/images.png" alt="">
        </div>
        <div>
            <p class="pt-2 text-xs text-black font-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut nostrum unde corrupti in labore </p>
        <p class="text-xs text-green-400 pt-2 font-bold">IN STOCK</p>
        <h1 class="text-1xl text-red-600 pt-3 pb-5 font-bold">6720 CFA – 9463 CFA</h1>
        </div>
        
    </div>
    <div class="max-w-52 w-full h-auto bg-white flex flex-col items-center pl-3 pr-3 pt-3 border-black border-2 ">
        <div class="w-full h-52 bg-yellow-300">
            <img class="w-full h-full" src="../../../../assets/images.png" alt="">
        </div>
        <div>
            <p class="pt-2 text-xs text-black font-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut nostrum unde corrupti in labore </p>
        <p class="text-xs text-green-400 pt-2 font-bold">IN STOCK</p>
        <h1 class="text-1xl text-red-600 pt-3 pb-5 font-bold">6720 CFA – 9463 CFA</h1>
        </div>
        
    </div>
    <div class="max-w-52 w-full h-auto bg-white flex flex-col items-center pl-3 pr-3 pt-3 border-black border-2 ">
        <div class="w-full h-52 bg-yellow-300">
            <img class="w-full h-full" src="../../../../assets/images.png" alt="">
        </div>
        <div>
            <p class="pt-2 text-xs text-black font-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut nostrum unde corrupti in labore </p>
        <p class="text-xs text-green-400 pt-2 font-bold">IN STOCK</p>
        <h1 class="text-1xl text-red-600 pt-3 pb-5 font-bold">6720 CFA – 9463 CFA</h1>
        </div>
        
    </div>
</div>