<div class="w-full h-9 bg-indigo-800 flex items-center justify-center">
    <p class="text-xs text-white ">Nous livrons partout en Cote d'ivoire</p>
</div>
<div class="lg:w-full lg:h-9 bg-white lg:flex lg:items-center lg:justify-center hidden md:pl-28 md:pr-28 border">
    <div class="w-2/5 h-full bg-white flex items-center justify-start">
        <a href="#" class="text-xs text-black pr-3 hover:text-orange-700">Mon compte
        </a>
        <a href="#" class="text-xs text-black hover:text-orange-700">Validation de commande
        </a>
    </div>
    <div class="w-3/5 h-full bg-yellow-500 flex">
        <div class="w-2/5 h-full bg-white flex items-center justify-end pr-3 border-r">
            <p class="text-xs text-black">100% Securisé, livré rapidement chez vous</p>
        </div>
        <div class="w-3/5 h-full bg-white flex items-center justify-start pl-3 ">
            <p class="text-xs text-black">Besoin d'aide ? Contactez nous au : <span><a href="#" class="text-orange-700">+225 2722246177</a></span></p>
        </div>
    </div>
</div>

<!-- position sticky -->
<div class="w-full md:h-28 h-16  bg-white flex items-center justify-between  top-0 sticky">
    <div class="w-1/4 h-full  bg-white flex items-center justify-center md:justify-end lg:hidden">
        <img class="w-8 h-8 md:w-5 md:h-5 md:mr-3" src="../../../../assets/menu.png" alt="">
    </div>
    <div class="w-20 lg:w-1/4 h-full  bg-white flex items-center justify-center">
        <img class="w-3/4 h-2/4 md:h-1/4 lg:w-20 lg:h-16" src="../../../../assets/logo-1.png" alt="">
    </div>
    <div class="hidden md:flex md:w-4/5 md:h-full md:bg-red-400">
        <div class="w-5/6 h-full bg-white flex items-center justify-center pl-10">
            <input type="text" name="" id="" class="w-full h-1/2 rounded-md bg-neutral-100 pl-6 outline-none" placeholder="Recherche">
        </div>
        <div class="w-1/6 h-full bg-white flex items-center justify-center">
            <div class="w-9 h-9 rounded-full bg-gray-100 mr-2 flex items-center justify-center">
                <img class="w-2/4 h-2/4" src="../../../../assets/profil.png" alt="">
            </div>
        </div>
    </div>
    <div class="w-1/4 lg:w-1/5 h-full bg-white flex items-center justify-center md:justify-start ">
        <h1 class="pr-3">0 CFA</h1>
        <div class=" w-10 h-10  relative flex items-center justify-center">
            <img class="w-6 h-6 " src="../../../../assets/panier.png" alt="">
            <div class="bg-red-600 w-5 h-5 rounded-full flex items-center justify-center absolute top-0 right-0 ">
                <p class="text-white">0</p>
            </div>
        </div>
        
    </div>
</div>

<!-- <div class="w-full h-28 bg-red-700">

</div> -->
<!-- <div class="w-full h-96 bg-red-700">

</div>
<div class="w-full h-96 bg-red-700">

</div> -->

