/* .aa{
    width: 200px;
    height: 200px;
    background-color: blue;
}
*/
#dehors {
    
    top: -100px;
  
}

#premi {
    display: none;
} 
/* #premi1:hover {
    visibility: visible;
    background-color: white;
    position: absolute;
    border: 1px solid gainsboro;
    right: -286px;
    top: 0;
} */
#premi1:hover #premi{
    visibility: visible;
    display: block;
    
    background-color: white;
    position: absolute;
    border-right: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    border-left: 1px solid gainsboro;
    right: -286px;
    top: 100px;
    padding-top: 30px;
}

#premie {
    display: none;
} 
#premie1:hover #premie{
    visibility: visible;
    display: block;
   
}

#imagechange {
    width: 100%;
    height: 100%;
    background: url('../../../../assets/aff1.jpeg') no-repeat;
    background-size: cover;
    animation: imagechange 15s infinite;
}

@keyframes imagechange {
    10% {
        background: url('../../../../assets/aff1.jpeg') no-repeat;
        background-size: cover;
        animation: imagechange 3s infinite;
       
    }
    40% {
        background: url('../../../../assets/aff2.jpeg') no-repeat;
        background-size: cover;
        animation: imagechange 3s infinite;
    }
    70% {
        background: url('../../../../assets/aff3.jpeg') no-repeat;
        background-size: cover;
        animation: imagechange 3s infinite;
    }
}